<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modosa.exec.command">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:excludeFromRecents="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.modosa.execcommand.MainActivity"
            android:enabled="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="modosa.execcommand.EXTRA_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.modosa.execcommand.LaunchEditActivity"
            android:enabled="true"
            android:label="@string/edit_command"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.modosa.execcommand.LaunchBreventActivity"
            android:enabled="true"
            android:label="@string/launch_brevent"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>
        <activity android:name="com.modosa.execcommand.ListExecActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.modosa.execcommand.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.modosa.execcommand.ListShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="AssetsFilename"
            android:value="CommandList.txt" />
        <meta-data
            android:name="ExternalFilename"
            android:value="CommandList.txt" />
        <meta-data
            android:name="Length_CommandInToast"
            android:value="40" />
        <meta-data
            android:name="isLimitCommandInToast"
            android:value="false" />
    </application>

</manifest>